body {
    margin: 0;
    padding: 0;
    font-family: 'Slabo 13px', serif;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

div input[type="text"],[type="email"] {
    width: 10rem;
    height: 1.2rem;
    margin-left: 5rem;
}

header {
    padding: 10px;
    background: blue;
    text-align: right;
}

header nav a {
    color: #cccccc;
    margin: 10px;
    font-size: 1.2rem;
}

section div.wrapper-hubungi-kami {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 2rem;
    height: auto;
}

div.wrapper-hubungi-kami div p {
    font-size: 1.3rem;
    margin-left: -2.2rem;
}