* {
    font-family: 'Slabo 13px', serif;
}

body {
    margin: 0;
    padding: 0;
    background: url("../asset/pattern.jpg");
    object-fit: cover;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0 1rem;
}

nav ul a {
    display: inline-block;
    margin: auto 10px;
    text-decoration: none;
}

nav ul a li {
    list-style: none;
    color: #003366;
    font-size: 1rem;
    font-weight: bold;
}

section {
    text-align: center;
    background: white;
    width: 80%;
    height: auto;
    margin: 10rem auto;

}

#article-list {
    text-align: left;
    padding: 0 1rem;
}

div .wrapper-text {
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid black;
}

div p {
    font-size: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 5rem;
    color: white;
    font-size: 1.2rem;
}