body {
    margin: 0;
    padding: 0;
    font-family: 'Slabo 13px', serif;
}

header {
    padding: 10px;
    background: blue;
    text-align: right;
}

header nav a {
    color: #cccccc;
    margin: 10px;
    font-size: 1.2rem;
}

section {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

section div.wrapper-about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

div.wrapper-about ol li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}