.App {
  width: 100%;
  text-align: center;
}


.form-pembelian{
  width: 40%;
  height: auto;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
}

h1 {
  text-align: center;
}

span{
  margin-right: -2.5rem;
}

input{
  margin-left: 4rem;
}

.wrapper-form{
  display: flex;
  flex-flow: row;
  margin-top: 2rem;
}

.title-daftar{
  display: flex;
  align-items: flex-end;
}

button{
  margin-top: 2rem;
  border-radius: 10px;
}